/*! public/css/booking_page.css */

h1 {
    margin-top: 100px;
    margin-bottom: 2rem;
}

.service-card {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    border-color: var(--color-primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.service-card img {
    max-width: 350px;
    object-fit: contain;
}

.service-card.selected {
    border-color: var(--color-primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}
