/*! public/css/faq.css */

.question {
    font-weight: bold;
}

.answer {
    margin-left: 1em;
}

html[dir="rtl"] .accordion-button {
    justify-content: flex-end;
    text-align: right;
}

html[dir="rtl"] .accordion-button::after {
    margin-left: 0;
    margin-right: auto;
}

#faq .accordion-button {
    font-size: 1.05rem;
    line-height: 1.4;
    padding: 1rem 1.25rem;
}

#faq .accordion-body {
    font-size: 0.98rem;
    line-height: 1.6;
}

.accordion-button:hover {
    background-color: var(--color-background-light);
}
