/*! public/css/services.css */

#our_services .card {
    display: flex;
    flex-direction: column;
}

#our_services .card .btn {
    margin-top: auto;
}

#our_services img {
    max-height: 250px;
}

#our_services .btn-booking {
    font-weight: bold;
    color: white;
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

#our_services .btn-booking:hover {
    color: var(--color-primary);
    background-color: white;
}

.question {
    font-weight: bold;
}

.answer {
    margin-left: 1em;
}

html[dir="rtl"] .accordion-button {
    justify-content: flex-end;
    text-align: right;
}

html[dir="rtl"] .accordion-button::after {
    margin-left: 0;
    margin-right: auto;
}
