<footer class="text-center text-muted text-center bg-light-custom pt-2 pb-2">
	<%= __('footer.built_by') %>
	<a
		href="https://dakermanji.com"
		class="text-decoration-none fw-bold"
		target="_blank"
	>
		<span class="orange">D</span>akermanji <span class="orange">W</span>eb
		<span class="orange">D</span>ev
	</a>
	<p class="cookies text-muted">
		<%= __('footer.cookies_text') %>
		<a
			href="#"
			data-bs-toggle="modal"
			class="link-danger"
			data-bs-target="#privacyModal"
		>
			<%= __('footer.privacy_title') %></a
		>
	</p>
</footer>
