<div class="modal fade" id="privacyModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content shadow">
			<div class="modal-header">
				<h5 class="modal-title"><%= __('footer.privacy_title') %></h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="<%= __('common.close') %>"
				></button>
			</div>
			<div class="modal-body text-begin small">
				<%= __('footer.privacy_content') %>
			</div>
		</div>
	</div>
</div>
