/*! public/css/home/about.css */

#about {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#about p.lead {
    max-width: 800px;
    margin: 0 auto 2rem auto;
    font-size: 1.2rem;
    line-height: 1.6;
}

#about #why_us {
    background-color: var(--color-background-light);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#about #why_us h2,
#about #who_we_serve h2 {
    color: var(--color-primary);
    font-weight: 600;
}

#about #why_us .bi,
#about #why_us p {
    transition: transform 0.3s ease, color 0.3s ease;
}

#about #why_us .col-md-3:hover .bi {
    transform: scale(1.2);
    color: var(--color-brand-hover);
}

#about #why_us .col-md-3:hover p {
    color: var(--color-brand);
}

#about #who_we_serve {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--color-background-lighter);
}

#about #who_we_serve p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.6;
}
