<section id="areas" class="bg-lighter-custom py-5 text-center">
	<h2 class="mb-4"><%= __('areas.title') %></h2>
	<p class="mb-0"><%= __('areas.list') %></p>
	<div class="map-wrapper">
		<iframe
			src="https://www.google.com/maps/d/embed?mid=13SXGa46KCGuPnPaaEpncQsoigw33wig&ehbc=2E312F&noprof=1"
			loading="lazy"
			allowfullscreen
			referrerpolicy="no-referrer-when-downgrade"
		></iframe>
	</div>
</section>
