<section id="contact" class="text-center pt-4 pb-2 bg-light-custom">
	<h2 class="mb-2 text-dark"><%= __('contact.title') %></h2>

	<div class="text-muted small">
		<p class="mb-2"><%= __('contact.description') %></p>

		<div
			class="d-flex flex-row align-items-center gap-5 mb-2 justify-content-center"
			dir="ltr"
		>
			<a
				href="https://wa.me/15142464688"
				target="_blank"
				rel="noopener"
				class="text-decoration-none text-dark"
			>
				<i class="bi bi-whatsapp mx-1 text-success"></i> +1 (514)
				246‑4688
			</a>
			<a href="tel:+15142464688" class="text-decoration-none text-dark">
				<i class="bi bi-telephone mx-1 text-primary"></i> +1 (514)
				246‑4688
			</a>
			<a href="tel:+15147108688" class="text-decoration-none text-dark">
				<i class="bi bi-telephone mx-1 text-primary"></i> +1 (514)
				710‑8688
			</a>
		</div>

		<div class="mb-3">
			<small><%= __('sister_school.call') %></small>
			<a
				href="https://wa.me/15145578710"
				target="_blank"
				rel="noopener"
				class="text-decoration-none text-dark ms-1"
			>
				<i class="bi bi-telephone mx-1 text-primary"></i> +1 (514)
				557‑8710
			</a>
		</div>
	</div>

	<footer class="text-center text-muted">
		<%= __('footer.built_by') %>
		<a
			href="https://dakermanji.com"
			class="text-decoration-none fw-bold"
			target="_blank"
		>
			<span class="orange">D</span>akermanji
			<span class="orange">W</span>eb <span class="orange">D</span>ev
		</a>
	</footer>
</section>
